<!DOCTYPE html>
<html>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body ng-app="myApp" ng-controller="userCtrl">
<div class="w3-container">
<h3>Users</h3>
<table class="w3-table w3-bordered w3-striped">
  <tr>

    <th>First Name</th>
    <th>Last Name</th>
    <th>Edit</th>
  </tr>
  <tr ng-repeat="user in users" ng-show=user.active>
    
    <td>{{ user.fName }}</td>
    <td>{{ user.lName }}</td>
    <td>
      <button class="w3-btn w3-ripple" ng-click="creatUser(user.id)">&#9998; Edit</button>
    </td>
    <td>
      <button class="w3-btn w3-ripple" ng-click="deleteUser(user.id)">&#9249; Delete</button>
    </td>
  </tr>
</table>
<br>
<button class="w3-btn w3-green w3-ripple" ng-click="createUser('new')">&#9998; Create New User</button>

<form ng-hide="hideform" ng-submit="addUser()">
  <h3 ng-show="edit">Create New User:</h3>
  <h3 ng-hide="edit">Edit User:</h3>
    <label>First Name:</label>
    <input class="w3-input w3-border" type="text" ng-model="fName" ng-disabled="!edit" placeholder="First Name">
  <br>
    <label>Last Name:</label>
    <input class="w3-input w3-border" type="text" ng-model="lName" ng-disabled="!edit" placeholder="Last Name">
  <br>
    <label>Password:</label>
    <input class="w3-input w3-border" type="password" ng-model="passw1" placeholder="Password">
  <br>
    <label>Repeat:</label>
    <input class="w3-input w3-border" type="password" ng-model="passw2" placeholder="Repeat Password">
  <br>
  <button type="submit" class="w3-btn w3-green w3-ripple" ng-disabled="error || incomplete">&#10004; Save Changes</button>
</form>

</div>

<script>
  angular.module('myApp', []).controller('userCtrl', function($scope) {

$scope.addUser =(function () {
  console.log('add user');

  if($scope.isNew)
  {
    newid = $scope.users.length +1;
    var newuser = {id:newid, fName:$scope.fName, lName:$scope.lName,active:true};
  console.log('new user ',newuser);
  $scope.users.push(newuser);
  }else
  {
    var usersArray = $scope.users;
    console.log('id from scope',$scope.id);
    var idtocheck = $scope.id-1
    console.log('id to check ',idtocheck);
    var editeduser = {id:$scope.id, fName:$scope.fName, lName:$scope.lName,active:true};
        $scope.users[idtocheck] = editeduser;
    
      console.log('edited user ',$scope.users);
  }
$scope.fName = '';
$scope.lName = '';
$scope.passw1 = '';
$scope.passw2 = '';
});

$scope.deleteUser =(function (id) {
  console.log('delete user',id);
  var indextodelete = id-1;
  $scope.users[indextodelete].active =false;
  console.log('List after deletion ',$scope.users);
});


$scope.fName = '';
$scope.lName = '';
$scope.passw1 = '';
$scope.passw2 = '';

$scope.users = [
{id:1, fName:'Hege', lName:"Pege",active:true },
{id:2, fName:'Kim',  lName:"Pim",active:true },
{id:3, fName:'Sal',  lName:"Smith",active:true },
{id:4, fName:'John', lName:"Doe",active:true },
{id:5, fName:'Peter',lName:"Pan",active:true }
];

$scope.edit = true;
$scope.error = false;
$scope.incomplete = false; 
$scope.hideform = true; 
$scope.creatUser = function(id) {
  $scope.hideform = false;
  console.log('edit user for first time :',id);
  if (id == 'new') {
    console.log('edit :new :');
    $scope.edit = true;
    $scope.isNew = true;
    $scope.incomplete = true;
    $scope.fName = '';
    $scope.lName = '';
  } else {
  console.log('edit :else :');

   $scope.isNew = false;
   $scope.id =id;
   $scope.edit = true;
  $scope.fName = $scope.users[id-1].fName;
  $scope.lName = $scope.users[id-1].lName;
}
};

$scope.$watch('passw1',function() {$scope.test();});
$scope.$watch('passw2',function() {$scope.test();});
$scope.$watch('fName', function() {$scope.test();});
$scope.$watch('lName', function() {$scope.test();});

$scope.test = function() {
  if ($scope.passw1 !== $scope.passw2) {
    $scope.error = true;
    } else {
    $scope.error = false;
  }
  $scope.incomplete = false;
  if ($scope.edit && (!$scope.fName.length ||
  !$scope.lName.length ||
  !$scope.passw1.length || !$scope.passw2.length)) {
     $scope.incomplete = true;
  }
};

});
</script>

</body>
</html>

